 [submodule "WatsonWebsocketPlus"]
	path = WatsonWebsocketPlus
	url = https://github.com/Zekiah-A/WatsonWebsocketPlus.git
	branch = plus
[submodule "DataProto"]
	path = DataProto
	url = https://github.com/Zekiah-A/DataProto
